requests
bs4
pandas
click
Flask
itsdangerous
Jinja2
MarkupSafe
pip
setuptools
WTForms
Flask-WTF
Flask-Session
pyexcel
Flask-Excel
pyexcel-xls
Flask-SQLAlchemy
sshtunnel
Werkzeug
email-validator
Flask-Login