{% extends "base.html" %}

{% block content %}
<script>
    function liveSearchFavourite() {
        let fields = document.getElementsByClassName('listed-supplier favourite');
        let search_query = document.getElementById("searchbox-favourite").value;

        for (var i = 0; i < fields.length; i++) {
            if(fields[i].firstElementChild.innerHTML.toLowerCase().includes(search_query.toLowerCase())) {
                fields[i].classList.remove("is-hidden");
            } else {
                fields[i].classList.add("is-hidden");
            }
        }

        let typingTimer;
        let typeInterval = 200;
        let searchInput = document.getElementById('searchbox-favourite');

        searchInput.addEventListener('keyup', () => {
            clearTimeout(typingTimer);
            typingTimer - setTimeout(liveSearchFavourite, typeInterval);
        });
    }

    function liveSearchBlacklisted() {
        let fields = document.getElementsByClassName('listed-supplier blacklisted');
        let search_query = document.getElementById("searchbox-blacklisted").value;

        for (var i = 0; i < fields.length; i++) {
            if(fields[i].innerHTML.toLowerCase().includes(search_query.toLowerCase())) {
                fields[i].classList.remove("is-hidden");
            } else {
                fields[i].classList.add("is-hidden");
            }
        }

        let typingTimer;
        let typeInterval = 200;
        let searchInput = document.getElementById('searchbox-blacklisted');

        searchInput.addEventListener('keyup', () => {
            clearTimeout(typingTimer);
            typingTimer - setTimeout(liveSearchBlacklisted, typeInterval);
        });
    }
</script>
<link rel="stylesheet" href="/assets/css/accounts.css">
<div class="column is-4 is-offset-4 hide-help" id="help-box">
    <div class="notification is-info">
        The two tables contain suppliers you have favourited and blacklisted.
        Hover over a supplier to reveal a button which you can use to remove
        them. At the bottom of the page there is a form which you can use to change
        your password.
    </div>
</div>
<div class="column is-2 is-offset-5">
    <h3 class="title is-3"></h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                {% elif category == 'info' %}
                    <div class="notification is-primary">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% for error in form.old_password.errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for error in form.password.errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endfor %}
    {% for error in form.confirm_password.errors %}
        <div class="notification is-danger">
            {{ error }}
        </div>
    {% endfor %}
</div>
<div class="columns">
    <div class="column is-2"></div>

    <div class="column is-3">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title ">
                    Favourite Suppliers
                </p>
            </header>

            <div class="card-content">
                <div class="content">
                    {% for favourite_supplier in favourite_suppliers %}
                        <div class="listed-supplier favourite level list-row">
                            <div class="level-item has-text-centered">
                                {{ favourite_supplier }}
                            </div>
                            <button onclick="window.location.href='/remove_favourite/{{ favourite_supplier }}';" class="button level-item hide">Remove</button>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <input class="input" type="email" oninput="liveSearchFavourite()" id="searchbox-favourite" placeholder="Find a supplier">
            </div>
        </div>
    </div>

    <div class="column is-2"></div>

    <div class="column is-3">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title ">
                    Blacklist Suppliers
                </p>
            </header>

            <div class="card-content">
                <div class="content">
                    {% for blacklisted_supplier in blacklisted_suppliers %}
                        <div class="listed-supplier blacklisted level list-row">
                            <div class="level-item has-text-centered">
                                {{ blacklisted_supplier }}
                            </div>
                            <button onclick="window.location.href='/remove_blacklist/{{ blacklisted_supplier }}';" class="button level-item hide">Remove</button>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <input class="input" type="email" oninput="liveSearchBlacklisted()" id="searchbox-blacklisted" placeholder="Find a supplier">
            </div>
        </div>
    </div>
</div>

<br>

    <div class="column is-4 is-offset-4">
        <div class="box">
            <p class="card-header-title">
                Change Password
            </p>
                <form class="row" method="POST">
                    <div class="field">
                        {{ form.csrf_token() }}
                        <div class="control">
                            {{ form.old_password(class="col-12", placeholder="Old Password") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.password(class="col-12", placeholder="Password") }}
                        </div>
                    </div>
                     <div class="field">
                        <div class="control">
                            {{ form.confirm_password(class="col-12", placeholder="Confirm Password") }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            {{ form.submit(class="col-12 button", value="Change Password") }}
                        </div>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}