<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="login-box3">
    <div class="login-box2">
        <h2>Favourited Suppliers</h2>
        <form>
            <input type="text" name="" placeholder="Name">
            <input type="email" name="" placeholder="E-mail">
            <input type="password" name="" placeholder="Password">
            <input type="password" name="" placeholder="Confirm Password">
            <input type="submit" name="" value="Register">
        </form>
    </div>
</div>

<div class="login-box">
    <div class="login-box2">
        <h2>Blacklisted Suppliers</h2>
        <form>
            <input type="text" name="" placeholder="Name">
            <input type="email" name="" placeholder="E-mail">
            <input type="password" name="" placeholder="Password">
            <input type="password" name="" placeholder="Confirm Password">
            <input type="submit" name="" value="Register">
        </form>
    </div>
</div>

<script src="/assets/bootstrap/js/bootstrap.js"></script>

</body>
</html>