{% extends "base.html" %}

{% block content %}
<script>
    function liveSearchWhitelist() {
        let fields = document.getElementsByClassName('listed-email whitelist');
        let search_query = document.getElementById("searchbox-whitelist").value;

        for (var i = 0; i < fields.length; i++) {
            if(fields[i].innerHTML.toLowerCase().includes(search_query.toLowerCase())) {
                fields[i].classList.remove("is-hidden");
            } else {
                fields[i].classList.add("is-hidden");
            }
        }

        let typingTimer;
        let typeInterval = 200;
        let searchInput = document.getElementById('searchbox-whitelist');

        searchInput.addEventListener('keyup', () => {
            clearTimeout(typingTimer);
            typingTimer - setTimeout(liveSearchWhitelist, typeInterval);
        });
    }

    function liveSearchUser() {
        let fields = document.getElementsByClassName('listed-email user');
        let search_query = document.getElementById("searchbox-user").value;

        for (var i = 0; i < fields.length; i++) {
            if(fields[i].innerHTML.toLowerCase().includes(search_query.toLowerCase())) {
                fields[i].classList.remove("is-hidden");
            } else {
                fields[i].classList.add("is-hidden");
            }
        }

        let typingTimer;
        let typeInterval = 200;
        let searchInput = document.getElementById('searchbox-user');

        searchInput.addEventListener('keyup', () => {
            clearTimeout(typingTimer);
            typingTimer - setTimeout(liveSearchUser, typeInterval);
        });
    }
</script>
<style>
    .card-header-title {
        display: block!important;
        font-size: 2em;
    }

    .card-footer {
        padding: 10px;
        border-top: 1px solid rgba(167, 167, 167, 0.5);
    }

    .card-content {
        padding: 10px;
        min-height: 350px;
        max-height: 350px;
        overflow: auto;
        font-size: 1.1em;
    }

    form {
        margin: auto;
    }

    .listed-email {
        border-bottom: 1px solid rgba(167, 167, 167, 0.25);
        padding: 5px;
    }

    .is-hidden {
        display: none;
    }

    .search {
        border-bottom: 1px solid rgba(167, 167, 167, 0.5);
    }

    .tile {
        display: block!important;
    }

</style>




<h3 class="title is-3">Admin Page</h3>
<div class="columns">
    <div class="column is-2"></div>

    <div class="column is-3">
        <div class="card">
            <header class="card-header tile is-vertical">
                <p class="card-header-title tile">
                    Whitelisted Emails
                </p>
                <div class="tile search">
                    <input class="input" type="text" oninput="liveSearchWhitelist()" id="searchbox-whitelist" placeholder="Find an email">
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    {% for email in whitelist %}
                        <div class="listed-email whitelist">
                            {{ email }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <form method="POST">
                    <div class="field">
                        {{ whitelist_form.csrf_token() }}
                        <div class="control">
                            {{ whitelist_form.email(class="input", placeholder="Email") }}
                            {% for error in whitelist_form.email.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {{ whitelist_form.add(class="button is-primary is-centered") }}
                    {{ whitelist_form.remove(class="button is-danger is-centered") }}
                </form>
            </div>
        </div>
    </div>

    <div class="column is-2"></div>

    <div class="column is-3">
        <div class="card">
            <header class="card-header tile is-vertical">
                <p class="card-header-title tile">
                    Users
                </p>
                <div class="tile search">
                    <input class="input" type="text" oninput="liveSearchUser()" id="searchbox-user" placeholder="Find a user">
                </div>
            </header>
            <div class="card-content">
                <div class="content">
                    {% for user in userlist %}
                        <div class="listed-email user">
                            {{ user }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="card-footer">
                <form method="POST">
                    <div class="field">
                        {{ user_form.csrf_token() }}
                        <div class="control">
                            {{ user_form.u_username(class="input", placeholder="Email") }}
                            {% for error in user_form.u_username.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    </div>
                    {{ user_form.u_submit(class="button is-danger is-centered") }}
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<div class="columns">
    <div class="column is-4 is-offset-4 box">
        <div>
            <b>Change a user's password</b>
        </div>
        <form method="POST">
            <div class="field">
                {{ change_password_form.csrf_token() }}
                <div class="control">
                    {{ change_password_form.p_username(class="input", placeholder="Email") }}
                    {% for error in change_password_form.p_username.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ change_password_form.password(class="input", placeholder="Password") }}
                    {% for error in change_password_form.password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ change_password_form.confirm_password(class="input", placeholder="Confirm Password") }}
                    {% for error in change_password_form.confirm_password.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                {{ change_password_form.p_submit(class="button is-primary is-centered") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
