<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock and Price Checker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>

    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('users.index')}}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('users.login')}}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('users.register')}}" class="navbar-item">
                                Register
                            </a>
                            <a href="{{ url_for('users.accounts')}}" class="navbar-item">
                                Account
                            </a>
                            <a href="{{ url_for('search.search')}}" class="navbar-item">
                                Search
                            </a>
                            <a href="{{ url_for('search.search_result')}}" class="navbar-item">
                                Search Result
                            </a>
                            <a href="{{ url_for('admin.admin')}}" class="navbar-item">
                                Admin
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered is-fluid">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>