<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Navbar</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <header class="bg-black">
    <img class="logo" src="assets/img/Logo.png" alt="logo">
    <nav>
      <ul class="nav__links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
    </nav>
    <a class="cta" href="#"><button>Help</button></a>
  </header>

  {% block content %}
  {% endblock %}

<script src="/assets/bootstrap/js/bootstrap.js"></script>
</body>

</html>
