{% extends "base.html" %}

{% block content %}
<div class="column is-2 is-offset-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
                {% elif category == 'info' %}
                    <div class="notification is-primary">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="login-box">
    <div class="login-box2">
        <h1>Login</h1>
        <h2>Sign into your account</h2>
        <form class="row" method="POST">
            {{ form.csrf_token() }}
            {{ form.username(class="col-12", placeholder="Username") }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
            {{ form.password(class="col-12", placeholder="Password") }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            {{ form.submit(class="col-12") }}
            <a class="mx-auto col-auto" href="#">Forgot your password?</a><br>
            <input class="col-12 mt-2" type="submit" name="register" onclick="window.location.href='/register'" value="Register New Account">
        </form>

    </div>
</div>

{% endblock %}