{% extends "base.html" %}

{% block content %}

<div class="login-box">
    <div class="login-box2">
        <h1>Login</h1>
        <h2>Sign into your account</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form class="row" method="POST">
            {{ form.csrf_token() }}
            {{ form.username(class="col-12", placeholder="Username") }}
            {% for error in form.username.errors %}
                {{ error }}
            {% endfor %}
            {{ form.password(class="col-12", placeholder="Password") }}
            {% for error in form.password.errors %}
                {{ error }}
            {% endfor %}
            {{ form.submit(class="col-12") }}
            <a class="mx-auto col-auto" href="#">Forgot your password?</a><br>
            <input class="col-12 mt-2" type="submit" name="register" value="Register New Account">
        </form>

    </div>
</div>

{% endblock %}