{% extends "base.html" %}

{% block content %}

<div class="login-box">
    <div class="login-box2">
        <h1>Register</h1>
        <h2>Create a new account</h2>
        <form>
            <input type="text" name="" placeholder="Name">
            <input type="email" name="" placeholder="E-mail">
            <input type="password" name="" placeholder="Password">
            <input type="password" name="" placeholder="Confirm Password">
            <input type="submit" name="" value="Register">
        </form>

    </div>
</div>

{% endblock %}