{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='repeatable-fields/repeatable-fields.js') }}"></script>
    <script>
        jQuery(function() {
            jQuery('.repeat').each(function() {
                jQuery(this).repeatable_fields();
            });
        });
    </script>
    <style>
        .form-button-parent {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-button {
            flex-shrink: 0;
        }

        #add-button-parent {
            margin-bottom: 25px;
        }

        #add-button {
            text-align: right;
        }

        #submit-button {
            padding-top: 25px;
        }

        .form-row {
            border-bottom: 2px solid #dedede;
        }

        .columns {
            margin-left: 0!important;
            margin-right: 0!important;
            margin-top: 0!important;
        }

        .columns:not(:last-child) {
            margin-bottom: 0!important;
        }


    </style>
    <h3 class="title">Search</h3>
    <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half box">
            <form method="POST">
                {{ form.csrf_token }}
                <div class="repeat">
                    <table class="wrapper">
                        <thead id="add-button-parent">
                            <tr>
                                <td width="5%" id="add-button"><span class="add button is-success is-medium">Add Row</span></td>
                            </tr>
                        </thead>
                        {% set count = search.parts|length if search.parts|length > 0 else 1 %}
                        <tbody class="container" data-rf-row-count="{{ count }}">
                            <tr class="template row columns form-row">
                                <td class="column is-7">
                                    <dd>
                                        <input class="input is-rounded" id="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-part_name" name="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-part_name" required type="text" value="" placeholder="Part Name">
                                    </dd>
                                </td>
                                <td class="column is-3">
                                    <dd>
                                        <input class="input is-rounded" id="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-quantity" name="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-quantity" required type="number" value="" placeholder="Quantity">
                                    </dd>
                                </td>
                                <td class="column is-2 form-button-parent">
                                    <dd>
                                        <span class="remove button is-danger form-button">Remove</span>
                                    </dd>
                                </td>
                            </tr>
                            {% if search.parts|length > 0 %}
                                {% for i in range(count) %}
                                    <tr class="row columns form-row">
                                <td class="column is-7">
                                    <dd>
                                        <input class="input is-rounded" id="parts-{{i}}-part_name" name="parts-{{i}}-part_name" required type="text" value="{{ search.parts[i].name }}" placeholder="Part Name">
                                    </dd>
                                </td>
                                <td class="column is-3">
                                    <dd>
                                        <input class="input is-rounded" id="parts-{{i}}-quantity" name="parts-{{i}}-quantity" required type="number" value="{{ search.parts[i].quantity }}" placeholder="Quantity">
                                    </dd>
                                </td>
                                <td class="column is-2 form-button-parent">
                                    <dd>
                                        <span class="remove button is-danger form-button">Remove</span>
                                    </dd>
                                </td>
                            </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="row columns form-row">
                                <td class="column is-7">
                                    <dd>
                                        <input class="input is-rounded" id="parts-0-part_name" name="parts-0-part_name" required type="text" value="" placeholder="Part Name">
                                    </dd>
                                </td>
                                <td class="column is-3">
                                    <dd>
                                        <input class="input is-rounded" id="parts-0-quantity" name="parts-0-quantity" required type="number" value="" placeholder="Quantity">
                                    </dd>
                                </td>
                                <td class="column is-2 form-button-parent">
                                    <dd>
                                        <span class="remove button is-danger form-button">Remove</span>
                                    </dd>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div id="submit-button">
                    {{ form.submit(class="button is-info is-centered is-medium")}}
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
{% endblock %}