{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='repeatable-fields/repeatable-fields.js') }}"></script>
    <script>
        jQuery(function() {
            jQuery('.repeat').each(function() {
                jQuery(this).repeatable_fields();
            });
        });

        function clearInputs() {
            let inputs = document.getElementsByClassName('clear')

            for (var i = 0; i < inputs.length; i++) {
                inputs[i].value = '';
            }

            let tbody = document.getElementsByName("form-tbody")[0];

            while (tbody.childElementCount > 2){
                tbody.lastChild.remove();
            }

            tbody.setAttribute("data-rf-row-count", "1");
        }
    </script>
    <style>

        .input[type="text"] {
            border-radius: 0;
            border: 0;
            border-top: 1px solid #6070DE;
            background-color: lightgrey;
            outline: none;
            box-shadow: none;
            font-size: 16px;
            font-family: "Roboto Thin", sans-serif;
        }

        .input[type="number"] {
            border-radius: 0;
            border: 0;
            border-top: 1px solid #6070DE;
            background-color: lightgrey;
            outline: none;
            box-shadow: none;
            font-size: 16px;
            font-family: "Roboto Thin", sans-serif;
        }

        .input::placeholder {
            color: grey;
            font-size: 14px;
        }

        .box {
            border-radius: 0;
            box-shadow: 10px 10px 0 black;
            border: none;
            border-top: 1px solid #6070DE;
            border-left: 1px solid #6070DE;
        }

        .card-header-title {
            display: block!important;
            font-size: 23px;
            text-align: center;
            font-weight: bold;
            color: black;
            font-family: "Roboto Thin", sans-serif;
          }

        .button {
            border-radius: 0;
            background: black;
            color: white;
            box-shadow: none;
            outline: none;
            border: none;
        }

        .button:hover {
            background: #6070DE;
            color: white;
            border-radius: 0;
            transition: all 0.3s ease 0s;
        }

        .form-button-parent {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .form-button {
            flex-shrink: 0;
        }

        #add-button-parent {
            margin-bottom: 25px;
        }

        #add-button {
            text-align: right;
        }

        #submit-button {
            padding-top: 25px;
        }

        .form-row {
            border-bottom: 2px solid #dedede;
        }

        .columns {
            margin-left: 0!important;
            margin-right: 0!important;
            margin-top: 0!important;
        }

        .columns:not(:last-child) {
            margin-bottom: 0!important;
        }

        .search-history {
            padding: 0 20px;
            height: 350px;
            max-height: 350px;
            overflow: auto;
        }

        .history {
            color: black;
        }

        .history:hover {
            text-decoration: underline;
            text-underline-color: #6070DE;
        }

    </style>
    <h3 class="title"></h3>
    <br>
    <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half box">
            <form class="row" method="POST">
                {{ form.csrf_token }}
                <div class="repeat">
                    <table class="wrapper" width="100%">
                        <thead id="add-button-parent">
                            <tr class="columns">
                                <td class="column is-9"></td>
                                <td width="5%" id="add-button" class="column is-3"><span class="add button is-medium">Add Row</span></td>
                            </tr>
                        </thead>
                        {% set count = search.parts|length if search.parts|length > 0 else 1 %}
                        <tbody class="container" data-rf-row-count="{{ count }}" name="form-tbody">
                            <tr class="template row columns form-row">
                                <td class="column is-7">
                                    <dd>
                                        <input class="input clear" id="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-part_name" name="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-part_name" required type="text" value="" placeholder="Part Name">
                                    </dd>
                                </td>
                                <td class="column is-3">
                                    <dd>
                                        <input class="input clear" id="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-quantity" name="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-quantity" required type="number" value="" placeholder="Quantity">
                                    </dd>
                                </td>
                                <td class="column is-2 form-button-parent">
                                    <dd>
                                        <span class="remove button form-button">Remove</span>
                                    </dd>
                                </td>
                            </tr>
                            {% if search.parts|length > 0 %}
                                {% for i in range(count) %}
                                    <tr class="row columns form-row">
                                        <td class="column is-7">
                                            <dd>
                                                <input class="input clear" id="parts-{{i}}-part_name" name="parts-{{i}}-part_name" required type="text" value="{{ search.parts[i].name }}" placeholder="Part Name">
                                            </dd>
                                        </td>
                                        <td class="column is-3">
                                            <dd>
                                                <input class="input clear" id="parts-{{i}}-quantity" name="parts-{{i}}-quantity" required type="number" value="{{ search.parts[i].quantity }}" placeholder="Quantity">
                                            </dd>
                                        </td>
                                        <td class="column is-2 form-button-parent">
                                            <dd>
                                                <span class="remove button form-button">Remove</span>
                                            </dd>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="row columns form-row">
                                    <td class="column is-7">
                                        <dd>
                                            <input class="input" id="parts-0-part_name" name="parts-0-part_name" required type="text" value="" placeholder="Part Name">
                                        </dd>
                                    </td>
                                    <td class="column is-3">
                                        <dd>
                                            <input class="input clear" id="parts-0-quantity" name="parts-0-quantity" required type="number" value="" placeholder="Quantity">
                                        </dd>
                                    </td>
                                    <td class="column is-2 form-button-parent">
                                        <dd>
                                            <span class="remove button form-button">Remove</span>
                                        </dd>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div id="submit-button" class="field is-grouped is-grouped-centered">
                    <div class="control">
                        {{ form.submit(class="button is-centered is-medium")}}
                    </div>
                    <div class="control">
                        <button class="button is-centered is-medium" type="button" onclick="clearInputs()">Clear</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column"></div>
    </div>
    <br>
    <div class="columns">
        <div class="column is-4"></div>
        <div class="column is-4 box search-history">
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>
                            <p class="card-header-title">
                                Search History
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in history %}
                        <tr>
                            <td>
                                <a href="#" class="history">{{ result }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}