{% extends "base.html" %}

{% block content %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='repeatable-fields/repeatable-fields.js') }}"></script>
    <script>
        jQuery(function() {
            jQuery('.repeat').each(function() {
                jQuery(this).repeatable_fields();
            });
        });
    </script>
    <div class="column is-4 is-offset-4">
        <h3 class="title">Search</h3>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="repeat">
                <table class="wrapper">
                    <thead>
                        <tr>
                            <td width="10%" colspan="4"><span class="add">Add</span></td>
                        </tr>
                    </thead>
                    <tbody class="container">
                        <tr class="template row">
                            <td width="90%">
                                <dt>Part Name</dt>
                                <dd>
                                    <input id="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-part_name" name="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-part_name" required type="text" value="">
                                </dd>
                                <dt>Quantity</dt>
                                <dd>
                                    <input id="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-quantity" name="parts-{%raw%}{{row-count-placeholder}}{%endraw%}-quantity" required type="number" value="">
                                </dd>
                            </td>
                            <td width="10%">
                                <span class="remove btn btn-danger">Remove</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                {{ form.submit(class="button is-info is-centered")}}
            </div>
        </form>
    </div>
{% endblock %}